span.c-divider-sm:empty {
  margin: 0 4px 0 4px;
}

.c-no-wrap {
  white-space: nowrap;
}

#shell #shellContent .modal .modal-content {
  background: url(images/md-header-bg.gif) repeat-x;
}

#shell #shellContent .modal-body {
  padding: 0 15px 0 15px;
  background: #ffffff;
}

#shell #shellContent .modal-header {
  color: #ffffff;
  border-bottom: none;
}

#shell #shellContent .modal-footer {
  height: 35px;
  padding: 0;
  margin-top: 0;
  background: url(images/md-footer-bg.jpg) no-repeat;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

#shell #shellContent .modal-content.col-sm-8 {
  padding: 0;
}

#nav .table {
  margin: 0;
}

#nav table {
  margin-bottom: 0;
}

#nav #nav-menu {
  width: 148px;
  padding: 0;
  background: url(images/tab-bg.jpg) repeat-y;
}

#nav #nav-menu li {
  margin-top: 0;
}

#nav #nav-menu a {
  display: block !important;
  padding: 14px 20px !important;
  margin: 0 !important;
  margin: 0 1px 0 0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #777 !important;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff !important;
  border-bottom: 1px solid #c6c6c6 !important;
  outline: none !important;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
}

#nav #nav-menu li.active {
  background: #ffffff;
}
