span.c-divider-sm:empty {
    margin: 0 4px 0 4px;
}

.c-no-wrap {
    white-space: nowrap;
}

#shell .modal .modal-content {
    background: url(images/md-header-bg.gif) repeat-x;
}

#shell .modal-body {
    padding: 0 15px 0 15px;
    background: #ffffff;
}

#shell .modal-header {
    border-bottom: none;
    color: #ffffff;
}

#shell .modal-footer {
    margin-top: 0;
    border-top: none;
    background: url(images/md-footer-bg.jpg) no-repeat;
    border-radius: 0 0 6px 6px;
    padding: 0px;
    height: 35px;
}

#shell .modal-content.col-sm-8 {
    padding: 0px;
}

#nav .table {
    margin: 0px;
}

#nav table {
    margin-bottom: 0px;
}

#nav #nav-menu {
    width: 148px;
    padding: 0px;
    background: url(images/tab-bg.jpg) repeat-y !important;
}

#nav #nav-menu li {
    margin-top: 0px;
}

#nav #nav-menu a {
    display: block !important;
    border-bottom: 1px solid #c6c6c6 !important;
    padding: 14px 20px !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #777 !important;
    text-shadow: 0 1px 0 #fff !important;
    margin: 0 !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
    margin: 0 1px 0 0 !important;
    outline: none !important;
}

#nav #nav-menu li.active {
    background: #ffffff;
}