<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="profileConfiguration" type="Profile.Core.ProfileConfiguration,Profile.Core"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <profileConfiguration encryptPassword="true" encryptionKey="F32ECDD0626DFD7AE4533DCB983C2BF548BAB858AD7411CF0B9F1D06AE5AFACD"></profileConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms name="PROFILE.AUTH" loginUrl="~/login" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true"/>
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="ProfileDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ProfileDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>